// AVATAR
img.avatar {
  border-radius: 8px;
}

.chat-message
  .chat-message-avatar
  .chat-user-avatar
  .chat-user-avatar-container
  .avatar,
.chat-message .chat-emoji-avatar .chat-emoji-avatar-container {
  height: 35px;
  width: 35px;
}

// INPUT
.chat-message-avatar .chat-composer .chat-composer-input {
  padding: 0.35rem 0.5rem;
  font-size: var(--font-up-1);
  height: 35px !important;
}

body.has-sidebar-page.has-full-page-chat #main-outlet-wrapper {
  grid-template-columns: var(--d-sidebar-width) minmax(0, 1fr);
  #main-outlet {
    max-width: unset;
  }
}