// AVATAR
img.avatar {
  border-radius: var(--d-border-radius);
}

.chat-message
  .chat-message-avatar
  .chat-user-avatar
  .chat-user-avatar-container
  .avatar,
.chat-message .chat-emoji-avatar .chat-emoji-avatar-container {
  height: 35px;
  width: 35px;
}

body.has-sidebar-page.has-full-page-chat #main-outlet-wrapper {
  grid-template-columns: var(--d-sidebar-width) minmax(0, 1fr);
  #main-outlet {
    max-width: unset;
  }
}

// 404 adjustments

.not-found-container {
  max-width: var(--d-max-width);
}

.no-ember {
  .d-header .wrap > .contents {
    display: flex;
    max-width: var(--d-max-width);
    margin: 0 auto;
  }
}
